.education-card {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--surface-lightest);

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  h3 {
    color: var(--primary-color);
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .degree {
    color: var(--text-secondary);
    margin-bottom: 0.5rem;
  }

  .score {
    color: var(--accent-color);
    margin-bottom: 0.5rem;
    font-weight: 500;
  }

  .courses {
    margin-top: 1rem;

    h4 {
      color: var(--text-secondary);
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
    }

    .course-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin: 0.5rem 0;

      .course-tag {
        background: var(--accent-color);
        color: var(--surface-default);
        padding: 0.25rem 0.75rem;
        border-radius: 15px;
        font-size: 0.9rem;
        transition: all 0.3s ease;

        &:hover {
          background: var(--accent-lighter-color);
          transform: translateY(-1px);
        }
      }
    }
  }
}
