.mat-mdc-card-content {
  .score {
    color: var(--accent-color);
    margin-bottom: 1rem;
    font-weight: 500;
  }

  .courses {
    h4 {
      color: var(--text-secondary);
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
    }

    .course-tags {
      .mat-mdc-chip-set {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
