@use '../../styles/breakpoints' as breakpoints;

.company-link {
  color: var(--md-sys-color-tertiary);
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 1rem;
  display: inline-block;

  &:hover {
    color: var(--md-sys-color-tertiary-container);
  }
}

.highlights {
  margin: 0;
  padding-left: 1.5rem;

  li {
    margin-bottom: 0.5rem;
    color: var(--md-sys-color-on-surface);
    line-height: 1.6;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
