<mat-card class="experience-card">
  <mat-card-header>
    <mat-card-subtitle class="experience-date">
      {{ experience.startDate | date:'MMM yyyy' }} - {{ experience.endDate ? (experience.endDate | date:'MMM yyyy') : 'Present' }}
    </mat-card-subtitle>
    <mat-card-title>{{ experience.position }}</mat-card-title>
    <mat-card-subtitle>
      <a [href]="experience.url" target="_blank" class="company-link">{{ experience.company }}</a>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <ul class="highlights">
      <li *ngFor="let highlight of experience.highlights">{{ highlight }}</li>
    </ul>
  </mat-card-content>
</mat-card>
