.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.mat-mdc-card-content {
  .mat-mdc-chip-set {
    display: flex;
    flex-wrap: wrap;
  }
}
