@use '../../styles/mixins' as mixins;
@use '../../styles/breakpoints' as breakpoints;

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 2rem;

  @include breakpoints.mobile {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}



.meta {
  margin-bottom: 1.5rem;
}

.roles {
  margin-bottom: 0.5rem;

  strong {
    margin-right: 0.5rem;
  }

  .mat-mdc-chip-set {
    display: inline-flex;
  }
}

.entity {
  color: var(--text-secondary);

  strong {
    color: var(--text-primary);
    margin-right: 0.5rem;
  }
}

.technologies {
  .mat-mdc-chip-set {
    display: flex;
    flex-wrap: wrap;
  }
}

.mat-mdc-card-footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  background: transparent;

  // Link button should use the whole footer.
  a {
    width: 100%;
  }
}
