@use '../../styles/mixins' as mixins;
@use '../../styles/breakpoints' as breakpoints;

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 2rem;

  @include breakpoints.mobile {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.mat-mdc-card {
  background: var(--surface-lighter);
  transition: all 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;

  &:hover {
    transform: translateY(-0.125rem);
    box-shadow: var(--mat-elevation-level3);
    background: var(--surface-lightest);
  }
}

.mat-mdc-card-header {
  padding: 1rem 1rem 0;
}

.mat-mdc-card-title {
  color: var(--primary-color);
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.mat-mdc-card-subtitle {
  color: var(--text-secondary);
  margin-bottom: 1rem;
}

.mat-mdc-card-content {
  padding: 0 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.description {
  color: var(--text-primary);
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.meta {
  margin-bottom: 1.5rem;
}

.roles {
  margin-bottom: 0.5rem;

  strong {
    color: var(--text-primary);
    margin-right: 0.5rem;
  }

  .mat-mdc-chip-set {
    display: inline-flex;
  }
}

.entity {
  color: var(--text-secondary);

  strong {
    color: var(--text-primary);
    margin-right: 0.5rem;
  }
}

.technologies {
  margin-bottom: auto;

  .mat-mdc-chip-set {
    display: flex;
    flex-wrap: wrap;
  }
}

.mat-mdc-card-footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  background: transparent;
}
