.resume-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}



// TODO migrate into each component and use breakpoint mixin.
@media (max-width: 768px) {
  .resume-container {
    padding: 1rem;
  }

  section {
    padding: 1rem;
  }

  .work-section {
    .experience-list {
      flex-direction: column;
    }
  }

  .profiles {
    flex-wrap: wrap;
  }
}
