<div class="page">
  <!-- Profile Section with Contact Info -->
  <app-profile>
    <app-contact-info></app-contact-info>
    <app-social-networks [iconsOnly]="false"></app-social-networks>
  </app-profile>

  <!-- Work Experience Section -->
  <app-experiences></app-experiences>

  <!-- Education Section -->
  <app-education></app-education>

  <app-skills></app-skills>
  <!-- Projects Section -->
  <app-portfolio></app-portfolio>

  <!-- Interests Section -->
  <app-interests-grid></app-interests-grid>
</div>
