<section *ngIf="basics$ | async as basics" class="profile">
  <img
    [ngSrc]="'comicon static shock and I.jpg'"
    (error)="handleImageError($event)"
    [alt]="basics.name"
    class="profile-image"
    priority
    width="400"
    height="400"
  />
  <app-section-header
    [title]="basics.name"
    [subtitle]="basics.label"
  ></app-section-header>
  <div class="location">
    <fa-icon [icon]="locationIcon"></fa-icon>
    <span>{{ basics.location.city }}, {{ basics.location.region }}</span>
  </div>
  <div class="actions">
    <ng-content></ng-content>
  </div>
</section>
