@use "@angular/material" as mat;

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-bottom: 1rem;
  box-shadow: var(--mat-elevation-level2);
  object-fit: cover;
  object-position: center;
  // TODO break point for mobile 300px w/h
}

.location {
  color: var(--text-secondary);
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  fa-icon {
    font-size: 1.1rem;
  }
}

