<div class="navigation-container">
  <mat-toolbar>
    <a routerLink="/">
      <img src="Traiforce Group LLC Logo Version 1 png (1).png" alt="Traiforce Group LLC Logo">
    </a>

    <!-- Template for navigation items -->
    <ng-template #navItems let-displayType="displayType">
      <ng-container *ngFor="let route of navigationRoutes">
        <a mat-button
           *ngIf="displayType === 'desktop'"
           [routerLink]="route.path"
           routerLinkActive="mat-accent"
           [routerLinkActiveOptions]="{ exact: true }">
          {{route.title}}
        </a>
        <a mat-menu-item
           *ngIf="displayType === 'mobile'"
           [routerLink]="route.path"
           routerLinkActive="mat-accent"
           [routerLinkActiveOptions]="{ exact: true }">
          {{route.title}}
        </a>
      </ng-container>
    </ng-template>

    <!-- Mobile menu -->
    <ng-container *ngIf="isHandset$ | async">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-template [ngTemplateOutlet]="navItems" [ngTemplateOutletContext]="{ displayType: 'mobile' }"></ng-template>
      </mat-menu>
    </ng-container>

    <!-- Desktop menu -->
    <ng-container *ngIf="(isHandset$ | async) === false">
      <div class="desktop-links">
        <ng-template [ngTemplateOutlet]="navItems" [ngTemplateOutletContext]="{ displayType: 'desktop' }"></ng-template>
      </div>
    </ng-container>
  </mat-toolbar>
</div>
