nav {
  display: flex;
  padding: 1rem;
  background-color: var(--mat-toolbar-container-background-color);
  color: var(--mat-toolbar-container-text-color);
}

.desktop-menu {
  display: flex;
  gap: 1rem;
}

.desktop-menu a {
  color: var(--mat-toolbar-container-text-color);
  font-family: var(--mat-typography-headline-6-font-family);
  font-size: var(--mat-typography-subtitle-1-font-size);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.desktop-menu a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.desktop-menu a.active {
  color: var(--mat-primary-lighter);
  background-color: rgba(255, 255, 255, 0.1);
}

.mobile-menu {
  display: none;
  color: var(--mat-toolbar-container-text-color);
}

/* Mobile view */
@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

/* Optional: Style the active route */
a.mat-button.active {
  background-color: rgba(0, 0, 0, 0.04);
}
