.navigation {
  &-container {
    mat-toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
    }

    .desktop-links {
      display: flex;
      height: 100%;
      gap: 0.5rem;
      align-items: center;

      [mat-button] {
        transition: all 0.3s ease;
        line-height: 2.5rem;

        &:hover:not(.mat-accent) {
          border-radius: 1.25rem;
          color: var(--primary-color);
        }

        &.mat-accent {
          border-radius: 1.25rem;
          color: var(--accent-color);
        }
      }
    }

    img {
      height: 2.5rem;
      width: auto;
      vertical-align: middle;
    }
  }
}
